* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(100, 1fr);
  grid-gap: 0px;

  width: 1000px;
  margin: 100px auto;
}
